Requirement
Description/Details
Must Have/Should Have/Nice to Have
Notes/Questions
Accessibility - WCAG 2.2 AA
Charts must be keyboard navigable, comply with WCAG 2.2 AA
Must have
Affordable, preferably Free
Open-source (MIT, Apache)
Must have
Styling 
Charts must be styled to match IC design system
Must have
Performance & Scalability
Can it handle large datasets (100k data points)
Must have
Well documented APIs
Can any developer pick it up and use it?
Must have
Actively maintained
Does the library have an active community?
Must have
Exporting
Exporting charts as pdf, png, svg
Nice to have
Mobile responsiveness
Optimized for mobile
Must have
Suggested Libraries 
Recharts:
 quick and simple
Accessibility Layer docs 
LINK
Responsive Container docs 
LINK
Nivo:
 highly customizable  
Includes custom accessibility props for SVG charts that allow you to assign aria, role, and focus
D3
: compare vs. Nivo 
Visx:
 full control with large datasets
Apache ECharts
: enterprise grade performance
Accessibility Support - 
LINK
Automatically generates a description of the chart according to the title, chart, data, etc. Users can also set description manually through the configuration object.
Not keyboard navigable
Chart.js
: lightweight and simple
Accessibility Support - 
LINK
 
“
Chart.js charts are rendered on user provided canvas elements. Thus, it is up to the user to create the canvas element in a way that is accessible. The canvas element has support in all browsers and will render on screen but the canvas content will not be accessible to screen readers.”
Current charts in the product
Support for Bar, Line and Pie charts
 URL:/spaces/PRODUCT/pages/4078698615/Charting+Requirements