This document is a 
WORK IN PROGRESS
Email template vs Email queue
Email Template Content
Object
What is it
Example
Name of Email Queue Type
The name of the email seen by Billers in the Biller Portal under Email Management
Declined Auto Pay Transaction
Name of Email Template
The name of the email in CRM
See ‘Email / Remind Me Templates’ tab in CRM
InvoiceCloud Generic AutoPay Failure Notice
Email subject line
The email subject seen by payers in their email inbox
**BillerDBA** Invoice# **InvoiceNumber** Notification
Email content
The body of the email
If unsure of the generic content seek guidance from CS
Template panel
A hardcoded header at the top of the email with a payment link
Not all templates need this
Dynamic markers
Dynamic inputs on the right-side panel of the email
For example: Account Number, Invoice Number, Balance Due, etc.
Email Template Technical Requirements
New 
EQP type data record
New 
job for EQP
New schedule to trigger the email template
Update EmailQueueProcessing with the new class for the queue
New 
stored procedure
 in the database to hold the dynamic marker data that belongs to the email template
Email Template in the Biller Portal - Email Management
An option exists in the dropdown list of Email Management on the Biller Portal for the new email template
The email template is available for each invoice type the Biller utilizes
Get Template for Invoice Type
Example: Utility, Real Estate Tax, Insurance Premium, etc
Ability to customize the body of the email
Text editing capabilities
Save changes for individual invoice type or all invoice types
Test emails can be sent
User can select template & invoice type to send test emails
Invoice sample data must be available
Tracking the Email Template Send
It is important for Billers to track if 
some 
emails have been sent to customers. For example, when an AutoPay declines it is helpful for Billers to see this history if a customer claims their payment went through or if it didn’t go through they were never notified.
Email Event in the Biller Portal under Email History on the Customer Profile
Not required for every email
 URL:/spaces/PE/pages/4187193362/Creating+New+Email+Templates+-+Requirements