The Doctors Company - DOCPAC - Requirements
The Doctors Company allows eligible members to contribute to DOCPAC. We will prompt payers to contribute to DOCPAC in the OTP route and during AutoPay enrollment.
Category
Requirement
Status
Eligibility
Triggers when to show the DOCPAC prompt
✅ 
Eligibility Flag
Passed through in BIF
✅ 
Data Syncing
Name
Address State
Corporation, LLC or Personal (entity type)
✅ 
✅ 
🆕
Invoice Type
One invoice type for DOCPAC
One terminal, TDC splits out the rest
✅ 
✅ 
Attestation, T&C
Language displayed to ask for acknowledgement of the DOCPAC contribution. This does not change for specific invoice types.
NOTE: Billers can add a link to the attestation. 
✅ 
UI prompt
Available in OTP
Available in AutoPay
Ask the payer if they are contributing as an Individual, Corporation or LLC in OTP and AutoPay (entity type)
✅ 
✅
 (
AutoPay Add-On
)
🆕
OTP amount
Contribution amount sent in BIF
Contribution amount can be changed by payer
🆕
🆕
AutoPay amount
Contribution amount sent in BIF
Contribution amount is fixed
🆕
🆕
Payment Transaction
Processed as two transactions. It shows up as one transaction on the member’s bank statement.
✅ 
Definitions
Dynamic Amounts:
 The system suggested default amounts (this is sent through in the BIF at the time of payment or AutoPay enrollment)
See more here: 
PAC Donations Feature Comparison
 
DOCPAC Scope of Work
We will need to add the following capabilities to our current (and 
in progress
) Political Donations configurations:
A field in the BIF to pass through the donation amount for the invoice
A new, standardizable feature in the UI for payer input to identify themselves (e.g., individual, corporation, or LLC)
In the OTP route 
and 
AutoPay enrollment, add a radio button in the UI for the payer to select their “entity type”:
Corporation
LLC
Individual
The UI pulls the suggested DOCPAC amount from the BIF based on the invoice
For OTP, this contribution amount can be changed by the payer
For AutoPay, the contribution amount is fixed
An option in the CRM to include the new PAC custom input/entity type radio button (e.g., individual, corporation, or LLC)
Ensure this applies to both OTP and AutoPay
Ensure this is customizable per biller for future implementations
Send to DuckCreek via DataPump the following new data:
Entity type: Corporation, LLC, or 
Individual
Validation rules for contribution amounts
Development
PHASE
CATEGORY
SCOPE OF WORK
EPIC
1
Customizable Amount in 1-time pay
 
WDIL
Yellow
1-time pay with custom amount for political donations
* Political donation amount can be customized by the payer in the UI
* CRM 1-time pay amount option that can be changed by the payer and configure an amount that is pre-filled
* CRM setting for Minimum/Maximum amount required (
see regular donation type configuration)
EBPP-26493
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
2
Dynamic Amount
 
WDIL
Yellow
 
spam
Blue
 
Dynamic (suggested) Amount populates in the contribution amount field
* CRM setting for 1-time pay amount options
* Integration changes to map the suggested amount from the BIF dynamically
* Surface the suggested amount from the BIF in the 1-time payment contribution amount field
* CRM setting for AutoPay amount options
* Surface the suggested amount from the BIF during AutoPay enrollment
**AutoPay work will be done by Team SPAM**
EBPP-27918
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
EBPP-28086
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
3
AutoPay Add-on
SPAM
Blue
UI prompt for political donations during AutoPay enrollment
* CRM checkbox to enable PAC donation prompt in AutoPay
* CRM Y/N radio buttons for including the political contribution
* Check eligibility during AutoPay enrollment
* UI prompt for AutoPay add-on (including the Y/N radio buttons)
* DataPump sends AutoPay add-on enrollment flag
EBPP-21479
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
EBPP-28097
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
4
Entity Type Selection
team tbd
Red
 
Entity type radio button selection appears in the UI
* CRM setting under political donation invoice type to enable the entity type selection in the UI
* UI prompt to select entity type in the 1-time payment route
* UI prompt to select entity type during AutoPay enrollment
* New data type record for the db and to send in DataPump
EBPP-27921
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Deliverables
 When the following epics are complete, TFB requirements will be met:
EBPP-21479
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 When the following epics are complete, TDC requirements will be met:
EBPP-21479
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
EBPP-28086
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
EBPP-26493
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
EBPP-27918
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Resources
Discovery Q&A
DOCPAC Figma
AGFUND Figma
 URL:/spaces/PE/pages/4067459078/PAC+Donations+Product+Requirements