Requirement
Description/Details
Must Have/Should Have/Nice to Have
Notes/Questions
Table Component Type
Accessibility – WCAG 2.2 AA
Rendered table markup must comply with all WCAG 2.2 AA standards. 
Must have
All
Data fetching
Needs to be more robust than just displaying existing data within the table’s memory. Needs to be able to fetch data.
?
Does migrating a page to React give us what’s needed here? Or is a React component required?
Datatable
Be able to render nested rows
2-3+ levels deep nesting
Must have
Datatable
Affordable, preferably FREE
MIT license > paid
Must have
Sortable columns
Able to sort columns by click/tapping header (ex: sort by date)
Must have
All
Selectable Rows/Select All
Must have
Medium, Datatable
Search/Filter
Ability to live search/filter a set of results.
Must have
Datatable
Data Export
Ability to export a table to excel 
Must have
Datatable
Responsive 
Table resizes properly on mobile/smaller devices
Must have
All
Changing the number of results shown at a time
Controls with pagination to change how many results are shown
Must have
All
Styling
Tables styled to follow the IC design system look & feel
Must have
All
Ability to reorder columns via drag and drop
Nice to have
Datatable
Choosing what columns/data to show
Ability to change the data the table shows 
Nice to have
Datatable
Inventory 
Visual examples of simple to the most complex tables
Payer Portal
Payer Virtual Site
 URL:/spaces/PRODUCT/pages/3879305366/React+Table+Component+Requirements