Discovery ticket
https://invoicecloud.atlassian.net/jira/polaris/projects/EPD/ideas/view/7601455?selectedIssue=EPD-333&issueViewSection=comments
 
Delivery ticket
EBPP-27913
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Confluence Documentation
SAML SSO Account Linking - Product Engineering - Confluence
SAML SSO Documentation
 
Target Dev Start
September 2025
Target Release
Incrementally during Q4
Project Due Date
November 2025
Objective
Enhance Cloud SSO Connect to deliver an identical user experience to SAML SSO for registered policyholders, while also ensuring that Safety specific customizations continue to function as they currently do
Scope of Work
#E3FCEF
Ensure Safety specific customizations remain – SAML SSO experience must be the same for migrating to CloudSSOConnect
Register Accounts API revision
Agent limitations on InvoiceCloud pages during enrollment
Redirect to Saved Payments page
Home Button redirect
Safety specific AutoPay strategy logic
Requirements
#
Description
Notes
1a
Increase the email address parameter length
SPAM-120
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
1b
Add a new, optional SSOConnect parameter for account/policy number parameter
Modify SSOConnect to ONLY display account(s) that are specifically passed in the SSOConnect API request
New parameter for SSOConnect
We will leverage the SAML logic to mimic this experience
SPAM-121
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Note: this is how SAML works, but that is restricted to 1 account
Allow multiple accounts to be specified in the API request
This is not correct, they only want to see one 
Do not show in the UI linked accounts that are not specified in the API request
Do not disrupt existing integrations 
(this may need to be a new parameter? something around being strict which accounts to show?)
Do not show payment methods which are tied to accounts that are linked but not specified in the API request
What about AutoPay?
Ensure changing “default” payment method does not unintentionally update something unexpected
Biller option 170
1c
Update all redirects/pages in SSOConnect so Safety can render identical pages as SAML SSO
SPAM-128
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Custom verbiage is scattered throughout and must match
Some pages are locked down where you cannot navigate around at all
Redirect to Saved Payments page
Home button redirect
Should not
 require any development. Will review their custom code to check.
Safety has a 
windowed experience
Expect that all of these pages will behave the same but should test to ensure
1d
Group Oversight user/account registration functionality
Agents connect as Group Oversight to make payments/store saved payment methods
Safety agents connect as Group Oversight to make payments/store saved payment methods
Today you 
cannot
 use LoginTypeID = 4 without first having an account owner first registered on an account
Safety wants to use Group Oversight without having an account owner
Need to understand if it should be applied globally as it is a change to McLogin general functionality
Note:
 potentially a Remote Auth change. Needs to be investigated further how they are integrated today.
Biller Option 122
SPAM-135
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
SPAM-122
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
What is their process today?
High level
1 and 3 are the only SAML SSO DeepLinkIDs used by Safety today
AutoPay is enrolled 2 different ways:
Policyholder via SAML SSO
Independent agents via AgentConnect
GroupOversight
With SAML, using Group Oversight with no owner registered; issues with CloudSSO not registering their call to register the account because there needs to be an account owner before registering any other roles
Using remote auth
Matt from Safety: "...used register accounts for user with the account number and login type id 4..."
Link to snippet
Registration shows successful in the API call but not in the Biller Portal – cannot authenticate
Are they going to make a call to the remote auth API in order to link the agent to the account as that login type? Then, later on make the CloudSSOConnect to get remote auth token for that login and then login. Do they not want to use AgentConnect? This will help us understand exactly what the changes are req’d. Depending on what we find out this could be a couple chunks of work.
2a
Address discrepancies between SAML SSO and CloudSSOConnect related to AutoPay and Saved Payment Method
which pages should we NOT show linked accounts? 
SPAM-129
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Using Redirect 3 AutoPay Settings
The AutoPay page says the account is not setup on autopay, even though it is shown to be on autopay through biller portal
After clicking “New AutoPay Setup” no Policy/Account appears in dropdown
After adding a bank account a message is expected to appear that the account isn’t’ setup for autopay
3a
Custom reporting for SSO errors
SPAM-130
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 This is a dev support project, so there is no engineering work needed by WDIL. 
Delivery Plan - 
HIGH LEVEL
This is a 
high level 
delivery schedule with dates that are subject to change based on additional scope identified through research conducted by engineering.
Goal:
 Deliver incremental features to achieve parity with SSOConnect and ensure testing with Safety occurs before November 12 switchover.
Category
Jira
Description
Target Dev Start
Target Delivery
SSOConnect enhancements
EBPP-27320
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Increase the email address parameter length
08/20/25
09/20/25
SSOConnect enhancements
SPAM-122
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Group Oversight user/account registration functionality
10/15/25
10/29/25
Address discrepancies related to AutoPay and Saved Payment Method
SPAM-129
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
Address discrepancies between SAML SSO and CloudSSOConnect related to AutoPay and Saved Payment Method
10/29/25
11/12/25
SSOConnect enhancements
EBPP-27168
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
 
Add a new, optional SSOConnect parameter for account/policy number parameter
10/1/25
10/22/25
SSOConnect enhancements
SPAM-128
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
Update all redirects/pages in SSOConnect so Safety can render identical pages as SAML SSO
11/12/25
11/26/25
Reporting
SPAM-130
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
Custom reporting for SSO errors
This work is not product- Charla will work with dev support on this.
NA
Questions - July 24, 2025
Add a new, optional CloudSSOConnect account/policy number parameter
Would this new parameter apply to the requirement for “CloudSSOConnect needs an option to restrict the UX to only 1 policy” or are they separate features? Need to discuss further.
Yes, this is the same and is covered in this ticket: 
SPAM-121
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System Jira
Group Oversight user/account registration functionality
What is Safety’s process for agents today?
Are they going to make a call to the remote auth API to link the agent to the account as that login type?
Need a call with Safety to dig into this further. Bailey to schedule. 
What are the discrepancies with AutoPay and Saved Payment method pages? 
What does this mean: The AutoPay screen should display correct enrollment status.
Team SPAM to look into the following:
Biller Option 24 - allowing customer to turn off AutoPay
Hiding the view of the AutoPay enrollments; custom logic in there working in the SAML example – ensure alignment on the behavior, can we remove some of the Safety customizations and make it a standard for CloudSSO
Need to dig into their customizations, custom code. Create a research spike.
Rudy to look into the following:
Biller Option 102 is off by default: hiding the AutoPay setup message 
“You have accounts that are not set up for AutoPay. You may setup AutoPay by clicking here”
 If it is not showing, this is more likely a bug because they have it turned on
Test that the message is appearing on the Saved Payment Methods with Biller Option 102 on and using CloudSSOConnect
What does the custom SAML SSO error report look like?
Need a research spike to understand this.
SSOConnect enhancements
Increase the email address parameter length 
Add a new, optional CloudSSOConnect account/policy number parameter
When used, bill listing portal pages returned by the web service will be limited to invoices matching the parameter values, ensuring consistent behavior with SAML SSO
Update all redirects/pages in CloudSSOConnect 
Enable Safety to render identical pages as SAML SSO
Group Oversight user and account registration functionality 
Independent agents connect as Group Oversight users to make payments, and agents will store the agency bank account for future payments on the policies they serve
CloudSSOConnect needs an option to restrict the UX to only 1 policy
Safety pre-screens policies for AutoPay eligibility
A user can NOT log in via CloudSSOConnect and enroll linked accounts on AutoPay
A user can NOT select multiple policies when making a payment
Address discrepancies between SAML SSO and CloudSSOConnect related to AutoPay and Saved Payment Method
The AutoPay screen should display correct enrollment status
Reporting
Recreate the custom SAML SSO error report for CloudSSOConnect
 URL:/spaces/PE/pages/4483186744/Safety+Insurance+SAML+SSO+SSOConnect+Product+Requirements