2
4
Infrastructure Requirements
Is this a request for new Infrastructure or updates/enhancements to existing Infrastructure?
New Infrastructure that can access existing Infrastructure.
Is there an initial idea of which Azure Resources are needed and an initial Workload Architectural design?
Yes
New Azure Synapse Workspace
Azure Synapse Link to existing 
ic-db-test-server1
  SQL Server.
Dedicated SQL Pool 
ic-dw-ods
New SQL Server  
ic-dw-ods1
 with the ability to be accessed from the New Azure Synapse Workspace.  Part of the SQL Dedicated Pool.
Start with SKU 100 in DevTest.
New Storage Account 
ic-dw-devtest-filestore
 used as the main ADLS Gen 2 Data Lake for the New Azure Synapse Workspace.
New Storage Account 
ic-dw-devtest-snowflake-filestore
 with the ability to push data into the Storage Account from the New Azure Synapse Workspace.
Will need to be able to move data from 
ic-dw-devtest-snowflake-filestore
 Storage Account to Snowflake PaaS.
New Self Hosted Integration Runtime.
See if SHIR can be run in K8s Cluster.
2 New Linux Ubuntu VMs
1 VM for development of Apache Airflow and Open Metadata (devtime)
These are dockerized
1 VM for running of Apache Airflow and Open Metadata (runtime)
These are dockerized
If it is a new Workload, which Environment(s) does the new Workload need to exist?
Sandbox - built and tore down just to use for testing of IAC and CI/CD Pipelines.
DevTest - Long-term should be able to be torndown or turned off.  Will pause DevTest SQL Dedicated Pool as first strategy to minimize cost impact when SQL Dedicated Pool is not in use.
Production
If it is a new Workload, which Region(s) per environment should the Workload be deployed to?
DevTest
Primary
Production
Primary
Secondary - Strong nice to have
Does the Workload have resources that need be accessed via the Private Network?
Yes,
Private Endpoint to Azure Synapse Workspace
Does the Workload need to access existing resources via the Private Network?
Yes
DevTest
ic-dbtest-east-server1
Read Access
Production
ic-db-east-server1
Read Access
ic-db-west-server1
 ???
Read Access
Does the workload process data, and does that data need to be processed inside the Private Network.
Yes, data should be processed inside the Private Network for both DevTest and Production instances.
SHIR
managed_virtual_network_enabled
 true
What is the Access Model for the internal team developing/utilizing the Workload?
Data Engineers and Data Scientist are the main audience.
Access thru AAD Groups created specifically to support the personas mentioned above:
datawarehouse-team-admins-sbx
datawarehouse-team-developers-sbx
(will see if developers nomenclature works for the team)
datawarehouse-team-readers-sbx
datawarehouse-team-admins-dev
datawarehouse-team-developers-dev
 (will see if developers nomenclature works for the team)
datawarehouse-team-readers-dev
datawarehouse-team-admins
 - breakglass (possible bitwarden service account)
datawarehouse-team-developers
datawarehouse-team-readers
Internal access to the all the new Resources needs to go thru the Firewall for access auditing.
What is the Access Model for public users of the Workload?
Apache Airflow and Open Metadata runners UI's would be available over VPN with OKTA Authentication and Authorization (with MFA)
Will need to be able to move data from 
ic-dw-devtest-snowflake-filestore
 Storage Account to Snowflake PaaS.
Initial Target Diagram
1
0
2672820323
2672984131
1
EnterpriseDataWarehouseEngineeringAzureNetwork.drawio
1
0
1
https://invoicecloud.atlassian.net/wiki
EnterpriseDataWarehouseEngineeringAzureNetwork.drawio
0
HRdCEwRGcGUqsnf_X5MW mHSg75qIEV4JY4kJmcVj-1
2511
auto
top
1
1401
Jira References
Epic: 
EBPP-11718
2278e126-27dc-36c8-aef9-a32d91bc7ad7
System JIRA
 
Related Links
https://learn.microsoft.com/en-us/azure/synapse-analytics/synapse-link/connect-synapse-link-sql-database
https://learn.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime?tabs=data-factory
 
https://github.com/Azure/terraform/tree/master/quickstart/201-synapse-secure
 
https://docs.snowflake.com/en/sql-reference/sql/create-storage-integration
 
https://docs.snowflake.com/en/user-guide/data-load-snowpipe-intro
 
https://docs.snowflake.com/en/user-guide/privatelink-azure
 
azurerm_synapse_workspace
azurerm_synapse_managed_private_endpoint
 
https://learn.microsoft.com/en-us/azure/synapse-analytics/security/synapse-workspace-synapse-rbac-roles
 
 URL:/spaces/icinfradoc/pages/2795733016/Synapse+Infrastructure+Requirements